@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
  scrollbar-width: thin;
  scrollbar-color: #db2777 #f0e9dd;
  scroll-behavior: smooth;
}

#avatar {
  filter: drop-shadow(5px 0px 6px #545454);
}

@theme {
  --font-title: 'Abril Fatface', serif;
  --font-text: 'Lato', sans-serif;

  --color-text-light: #292929;
  --color-text-dark: #f3f2f2;

  --color-section-dark: #1b1b1b;

  --color-pink: #ec4899;
  --color-purple: #8b5cf6;

  --text-subtitle: clamp(2.4svh, 2vw, 1.6rem);
  --text-hero-title: clamp(4.5svh, 5vw, 4rem);

  --text-body: clamp(1rem, 1.8vw, 1.3rem);

  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

@layer components {
  .section-layout {
    @apply bg-gray-100 dark:bg-section-dark px-7 sm:px-14 lg:px-28 2xl:px-96 py-11 rounded-[2rem] md:rounded-[4rem];
  }
}
